*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Work Sans', sans-serif;
}
.container{
    width: 100%;
    background-color: #306ee8;
    height: 670px;
}
.financing{
    background-color: #306ee8;
    padding: 12px;
    font-weight: bolder;
    font-size: larger;
}

.navigasi{
    background-color:#306ee8;
    display: flex;
    justify-content: space-around;
    padding:20px 0px 20px 0px;
}
.logo{
    font-weight: bolder;
    font-size: x-large;
    color: white;
    margin-right: 450px;
}
.kotak1{
    margin-top: 30px;
    margin-right: 20px;
}
.animate1{
    display: flex;
}
.kontak{
    color: white;
}

.menu ul li{
    display: inline;
}

.menu a{
    text-decoration: none;
    color: white;
    margin: 5px;
}

.container-isi{
    width: 100%;
    color: white;
    margin: auto;
}

.hero{
    margin-top: auto;
    width: auto;
    height: 200px;
    background-color: #306ee8;
    margin-left: 111px;
    padding-right: 20px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hero .isi{
    margin-top: 150px;
    font-weight: 30;
    font-family: 'Work Sans', sans-serif;
    font-size: 28px;
    margin-right: 90px;

    width: 500px;
    height: 200px;
    color: white;
}

ph{
    font-size: 18px;
    color: white;
}

p{
    font-size: 15px;
    color: #306ee8;
    font-weight: 400px;

}
p2{
    font-size: 15px;
    color: aliceblue;
    font-weight: 400px;
}

.img{
    margin-top: 20px;
    width: 570px;
    height: 490px;
    
    margin-right: 30px;
    margin-left:10px;
    margin-top: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;

    background-image: url(aset2/img-1.jpg);
    background-size: cover;
}

.button{
    height: 50px;
    margin: auto;
    display: flex;
    margin-top: 150px;
}

.contact{
    color: #306ee8;
    background-color:white ;
    width: 130px;
    height: 50px;
    margin-left: 120px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}
.kotak1{
    margin-left: 70px;
}
.bottompayment .text span{
    margin-right: 70px;
}
.watch{
    color: white ;
    background-color: #306ee8;
    width: 150px;
    height: 50px;
    margin-left: 40px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.payment{
    width: 1200px;
    height: 400px;
    margin-left: 100px;
    margin-top: 260px;
    padding-bottom: 100px;
    line-height: 25px;

    display: flex;
    background-color: white;
}

.image2{
    width: 800px;
    height: 350px;
    
    padding-top: 150px;
    padding-left: 250px;
    background-image: url(aset2/img-2.jpg);
    background-size:cover;
}

.payment .textpayment{
    display: flex;
}
.payment .judul{
    margin-left: 120px;
    margin-right: 100px;
}
.payment .judul p{
    color: grey;
}
.payment .judul i{
    color: #306ee8;
}
.textpayment{
    margin-top: 50px;
}

.textpayment i{
    padding:10px 10px 10px 10px;
    font-size: 25px;
    margin-top: 20px;
    margin-right: 20px;
    text-align: center;
    background-color: whitesmoke;
}

.hero3{
    margin-top: 80px;
    display: flex;
    padding-top: 40px;
    background-color: #306ee8;
    justify-content: space-around;
    flex-wrap: wrap;
}

.hero3 .bottompayment{
    width: 1400px;
    height: 200px;
    background-color: #306ee8;
    color: white;

    display: flex;
    justify-content: space-around;
}
.bottompayment i{
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.bottompayment p4{
    margin: 10px 0px 10px 0px;
    font-size: 20px;
    display: flex;
}

/* -------------------------------------------- */

.financing{
    width: 1200px;
    height: 450px;
    margin-left: 80px;
    margin-top: 50px;
    padding-bottom: 100px;
    line-height: 25px;

    display: flex;
    background-color: white;
}

.image3{
    width: 800px;
    height: 350px;
    
    padding-top: 150px;
    padding-left: 220px;
    background-image: url(aset2/img-1.jpg);
    background-size:cover;
    margin-right: 50px;
    margin-left: 110px;
}

.financing .textpayment2{
    display: flex;
    /* background-color: ; */
}

.financing .judul2 h2{
    font-size: 25px;
    line-height: 40px;
}

.financing .judul2{
    margin-left: 20px;
}

.financing .judul2 p{
    color: black;
    font-weight: 300;
}

.financing .judul2 i{
    color: #306ee8;
}

.textpayment2{
    margin-top: 10px;
}

.textpayment2 i{
    padding:10px 10px 10px 10px;
    font-size: 25px;
    margin-top: 20px;
    margin-right: 20px;
    text-align: center;
    background-color: whitesmoke;
}
/* ----------------------------------------- */
.service{
    background-color: whitesmoke;
    height: 950px;
    width: 100%;
    padding-top: 50px;
}
.service .judul{
    text-align: center;
    margin-left: 450px;
    margin-right: 450px;
}
.service .judul h1{
    color: #306ee8;
    font-weight: 700px;
    line-height: 60px;
}
.service .judul p{
    color: grey;
    margin-bottom: 70px;
}
/* grid service */
.grid{
    display:grid;
    margin: auto;
    width: 100%;

    
    gap: 20px;
    grid-template-areas: "konten1 konten2 konten3"
                         "konten4 konten5 konten6";
}
.grid1, .grid2, .grid3, .grid4, .grid5, .grid6{
    border-radius: 3px;
    background-color: white;
}

.grid .grid1{
    grid-area: konten1;
    display: grid;
    align-items: center;
    margin-left: 100px;
}
.grid .grid2{
    grid-area: konten2;
    display: grid;
    align-items: center;
}
.grid .grid3{
    grid-area: konten3;
    display: grid;
    align-items: center;
    margin-right: 100px;
}
.grid .grid4{
    grid-area: konten4;
    display: grid;
    align-items: center;
    margin-left: 100px;
}
.grid .grid5{
    grid-area: konten5;
    display: grid;
    align-items: center;
}
.grid .grid6{
    grid-area: konten6;
    display: grid;
    align-items: center;
    margin-right: 100px;
}
.grid .icon{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #306ee8;
    font-size: 50px;
}
.grid h3{
    text-align: center;
    font-size: 18px;
    color: #000;
}
.grid p{
    margin: 10px 30px 10px 30px;
    color: grey;
    text-align: center;
}

.grid .kotak{
    text-align: center;
    color: #306ee8;
    margin: auto;
    padding: 8px;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
    border: 1px solid #306ee8;
    border-radius: 5px;
    cursor: pointer;
}

/* footer */

.footer{
    width: 100%;
    height: 550px;
    background-color: #306ee8;
    color: white;
    margin: auto;
    font-size: 14px;
}
.footer .gft{
    background-color: #306ee8;
    display: grid;
    margin: auto;
    width: 100%;
    height: 390px;
    padding-top: 80px;

    grid-template-areas: "footer1 footer2 footer3 footer4";
    gap: 20px;
}
.about, .company, .partners, .navigation{
    line-height: 30px;
}
.footer .about{
    grid-area: footer1;
    margin-left: 105px;
}
.footer .company{
    grid-area: footer2;
    margin-right: 60px;
}
.footer .partners{
    grid-area: footer3;
    margin-right: 160px;
}
.footer .navigation{
    grid-area: footer4;
    margin-right: 60px;
    padding-right: 150px;
}
.footer p{
    color: white;
    line-height: 20px;
}
.footer ul{
    list-style-type: none;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.footer h4{
    letter-spacing: .1rem;
}
.footer .about p{
    margin-bottom: 10px;
}
.footer .copyright{
    text-align: center;
}

.wkwk{
    background-color: rgb(62, 120, 235);
    border: none;
    border-radius: 10%;

    color: white;
    padding: 10px 12px;

    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.wkwk:hover{
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10%;

    
    color: rgb(48, 110, 232);
    padding: 12px 14px;
    font-size: 18px;
    
}
.copyright span{
    color: grey;
    cursor: pointer;
}
.white{
    color: white;
    width: 100%;
    height: 50px;
}
/* list-style-type:none; agar list tidak ada angka atau titk*/